<style>
  #shopify-section-{{ section.id }} {
    --footer-content-justify-items: {% if section.settings.blocks.size <= 2 %}start{% else %}space-between{% endif %};
  }
</style>

{%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5 -%}

<div class="footer color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
  <div class="container">
    <div class="footer__inner">
      {%- comment -%}
      ------------------------------------------------------------------------------------------------------------------
      FOOTER BLOCKS (MAIN CONTENT)
      ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- if section.blocks.size > 0 -%}
        <div class="footer__block-list">
          {%- for block in section.blocks -%}
            {%- capture block_content -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {%- render block -%}

                {%- when 'image' -%}
                  {%- if block.settings.image != blank -%}
                    {%- capture sizes -%}{{ block.settings.image_width }}px{%- endcapture -%}
                    {%- capture widths -%}{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 | at_most: block.settings.image.width }}{%- endcapture -%}
                    {%- capture style -%}--image-max-width: {{ block.settings.image_width }}px{%- endcapture -%}

                    {%- if block.settings.link != blank -%}
                      <a href="{{ block.settings.link }}">
                        {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: sizes: sizes, widths: widths, style: style, class: 'constrained-image' -}}
                      </a>
                    {%- else -%}
                      {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: sizes: sizes, widths: widths, style: style, class: 'constrained-image' -}}
                    {%- endif -%}
                  {%- endif -%}

                {%- when 'text' -%}
                  {%- if block.settings.title != blank or block.settings.content != blank or shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                    <div class="v-stack gap-4 sm:gap-5">
                      {%- if block.settings.title != blank -%}
                        <h4 class="footer-title">{{ block.settings.title }}</h4>
                      {%- endif -%}

                      {%- if block.settings.content != blank -%}
                        <div>
                          {{- block.settings.content -}}
                        </div>
                      {%- endif -%}

                      {%- if shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                        <div class="follow-on-shop">
                          {{- shop | login_button: action: 'follow' -}}
                        </div>
                      {%- endif -%}
                    </div>
                  {%- endif -%}

                {%- when 'links' -%}
                  {%- assign menu = block.settings.menu -%}

                  {%- if menu != blank and menu.links.size > 0 -%}
                    <div class="v-stack gap-4 sm:gap-5">
                      {%- if block.settings.show_menu_title != blank -%}
                        <h4 class="footer-title">{{ block.settings.menu_title | default: menu.title }}</h4>
                      {%- endif -%}

                      <ul class="v-stack gap-2.5 unstyled-list" role="list">
                        {%- for link in menu.links -%}
                          <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}

                {%- when 'newsletter' -%}
                  <div class="v-stack gap-4 sm:gap-5">
                    {%- if block.settings.title != blank -%}
                      <h4 class="footer-title">{{ block.settings.title }}</h4>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div>
                        <p>{{- block.settings.content -}}</p>
                      </div>
                    {%- endif -%}

                    {%- assign newsletter_form_id = 'newsletter-form-' | append: section.id -%}

                    {%- form 'customer', id: newsletter_form_id, class: 'form' -%}
                      {%- if form.posted_successfully? -%}
                        {%- assign success_message = 'general.newsletter.subscribed_successfully' | t -%}
                        {%- render 'banner', content: success_message, status: 'success' -%}
                      {%- else -%}
                        {%- if form.errors -%}
                          {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                          {%- render 'banner', content: error_message, status: 'error' -%}
                        {%- endif -%}

                        <input type="hidden" name="contact[tags]" value="newsletter">

                        {%- assign input_label = 'general.newsletter.email' | t -%}
                        {%- render 'input', name: 'contact[email]', label: input_label, type: 'email', required: true, autocomplete: 'email', enterkeyhint: 'send' -%}

                        <div class="align-self-start">
                          {%- assign button_label = 'general.newsletter.subscribe' | t -%}
                          {%- render 'button', type: 'submit', content: button_label, background: block.settings.button_background, text_color: block.settings.button_text_color -%}
                        </div>
                      {%- endif -%}
                    {%- endform -%}
                  </div>
                {% when "get_in_touch" %}
                  <div class="v-stack gap-4 sm:gap-5">
                    <div class="v-stack gap-4 sm:gap-5h col-lg-{{ block.settings.cl }} col-md-{{ block.settings.cl_tb }} col-{{ block.settings.cl_mb }} order-{{ block.settings.order }}">
                      {% if block.settings.image != blank %}
                        <div class="footer__logo">
                          <img 
                            src="{{ block.settings.image | image_url: width: block.settings.logo_width }}" 
                            alt="{{ block.settings.title | escape }}" 
                            width="{{ block.settings.logo_width }}">
                        </div>
                      {% elsif block.settings.title != blank %}
                        <h4 class="footer__heading">{{ block.settings.title }}</h4> 
                      {% endif %}

                      <div class="footer__content">
                        {{ block.settings.content }}
                      </div>

                      {% if block.settings.social_mode == "3" %}
                        <div class="footer__social-icons">
                          {% for social_block in block.blocks %}
                            {% if social_block.type == 'icon_link' %}
                              <a href="{{ social_block.settings.link_url }}" aria-label="{{ social_block.settings.aria_label }}" target="_blank" rel="noopener">
                                <i class="{{ social_block.settings.icon_class }}"></i>
                              </a>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                  </div>

                  {%- if section.settings.show_social_media -%}
                    {%- render 'social-media', layout: 'list' -%}
                  {%- endif -%}
                {%- endcase -%}
            {%- endcapture -%}

            {%- if block_content != blank -%}
              <div class="footer__block footer__block--links footer__block--{{ block.type | remove_first: '@' }}" {{ block.shopify_attributes }}>
                {{- block_content -}}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

      {%- comment -%}
      ------------------------------------------------------------------------------------------------------------------
      FOOTER ASIDE (COPYRIGHT + LOCALIZATION SELECTORS + PAYMENT METHODS)
      ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div class="footer__aside">
        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign show_country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign show_locale_selector = true -%}
        {%- endif -%}

        {%- if show_country_selector or show_locale_selector -%}
          <div class="localization-selectors">
            {%- if show_country_selector -%}
              {%- render 'localization-selector', type: 'country', placement: 'top-start', show_country_name: section.settings.show_country_name, show_country_flag: section.settings.show_country_flag -%}
            {%- endif -%}

            {%- if show_locale_selector -%}
              {%- render 'localization-selector', type: 'locale', placement: 'top-start' -%}
            {%- endif -%}
          </div>
        {%- endif -%}

        <p class="heading text-subdued text-xxs">© {{ 'now' | date: '%Y' }} - {{ shop.name }} {{ powered_by_link }}</p>

        {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
          <ul class="payment-methods unstyled-list">
            {%- for type in shop.enabled_payment_types -%}
              <li>{{- type | payment_type_svg_tag -}}</li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "shopify-section--footer",
  "tag": "footer",
  "max_blocks": 6,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "t:sections.footer.show_social_media",
      "info": "t:sections.footer.show_social_media_info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:sections.footer.show_payment_icons",
      "default": true
    },
    {
      "type": "header",
      "content": "t:global.localization.country_region_selector_category",
      "info": "t:global.localization.country_region_selector_category_info"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "t:global.localization.show_country_region_selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_name",
      "label": "t:global.localization.show_country_name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_flag",
      "label": "t:global.localization.show_country_flag",
      "default": true
    },
    {
      "type": "header",
      "content": "t:global.localization.language_selector_category",
      "info": "t:global.localization.language_selector_category_info"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "t:global.localization.show_locale_selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "image",
      "name": "t:sections.footer.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.image.image",
          "info": "t:sections.footer.blocks.image.image_size_recommendation"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "t:global.image.width",
          "default": 150
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:global.text.link"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:global.text.heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:global.text.content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "label": "t:sections.footer.blocks.text.show_follow_on_shop",
          "info": "t:sections.footer.blocks.text.show_follow_on_shop_info",
          "default": true
        }
      ]
    },
    {
      "type": "links",
      "name": "t:sections.footer.blocks.links.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.links.menu",
          "info": "t:sections.footer.blocks.links.menu_info",
          "default": "footer"
        },
        {
          "type": "checkbox",
          "id": "show_menu_title",
          "label": "t:sections.footer.blocks.links.show_menu_title",
          "default": true
        },
        {
          "type": "inline_richtext",
          "id": "menu_title",
          "label": "t:sections.footer.blocks.links.menu_title",
          "info": "t:sections.footer.blocks.links.menu_title_info"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.footer.blocks.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.newsletter.newsletter_info"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:global.text.heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:global.text.content",
          "default": "<p>Sign up to our newsletter to receive exclusive offers.</p>"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "t:global.colors.button_background"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "t:global.colors.button_text"
        }
      ]
    },
    {
      "type": "get_in_touch",
      "name": "Get in touch",
      "settings": [
        {
          "type": "header",
          "content": "== Logo"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Custom logo",
          "info": "190px wide recommended"
        },
        {
          "type": "range",
          "id": "logo_width",
          "label": "== Custom logo width",
          "min": 50,
          "max": 350,
          "step": 5,
          "unit": "px",
          "default": 100
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Get in touch",
          "info": "If you don't use logo, you can use text"
        },
        {
          "type": "header",
          "content": "== Get in touch"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Content",
          "default": "<p><i class=\"pegk pe-7s-map-marker\"></i><span>184 Main Rd E, St Albans <br><span class=\"pl__30\">VIC 3021, Australia</span></span></p><p><i class=\"pegk pe-7s-mail\"></i><span> <a href=\"mailto:contact@company.com\">contact@company.com</a></span></p><p><i class=\"pegk pe-7s-call\"></i> <span>+001 2233 456 </span></p>"
        },
        {
          "type": "select",
          "id": "social_mode",
          "label": "Footer social:",
          "default": "3",
          "options": [
            { "value": "1", "label": "Disable" },
            { "value": "2", "label": "Share" },
            { "value": "3", "label": "Follow" }
          ]
        },
        {
          "type": "header",
          "content": "== Width settings"
        },
        {
          "type": "select",
          "id": "order",
          "label": "Order position mobile, tablet",
          "default": "1",
          "options": [
            { "value": "1", "label": "1" },
            { "value": "2", "label": "2" },
            { "value": "3", "label": "3" },
            { "value": "4", "label": "4" },
            { "value": "5", "label": "5" },
            { "value": "6", "label": "6" },
            { "value": "7", "label": "7" },
            { "value": "8", "label": "8" },
            { "value": "9", "label": "9" },
            { "value": "10", "label": "10" }
          ]
        },
        {
          "type": "select",
          "id": "cl",
          "label": "Container width",
          "default": "3",
          "options": [
            { "value": "12", "label": "100%" },
            { "value": "8", "label": "66%" },
            { "value": "6", "label": "50%" },
            { "value": "4", "label": "33%" },
            { "value": "3", "label": "25%" },
            { "value": "15", "label": "20%" },
            { "value": "2", "label": "16%" }
          ]
        },
        {
          "type": "select",
          "id": "cl_tb",
          "label": "Container width tablet",
          "default": "6",
          "options": [
            { "value": "12", "label": "100%" },
            { "value": "8", "label": "66%" },
            { "value": "6", "label": "50%" },
            { "value": "4", "label": "33%" },
            { "value": "3", "label": "25%" }
          ]
        },
        {
          "type": "select",
          "id": "cl_mb",
          "label": "Container width mobile",
          "default": "12",
          "options": [
            { "value": "12", "label": "100%" },
            { "value": "6", "label": "50%" }
          ]
        }
      ]
    }
  ]
}
{% endschema %}